body {
  background-color: #937ccd;
}

.stopwatch-time {
  text-align: center;
  color: #fff;
  font-size: 80px;
}

.stopwatch-buttons {
  display: flex;
  justify-content: center;
}

.stopwatch-buttons button {
  margin: 20px;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
}

.stopwatch-buttons button:first-child {
  background-color: green;
}

.stopwatch-buttons button:nth-child(2){
  background-color: rgb(43, 24, 60);
}

.stopwatch-buttons button:last-child {
  background-color: red;
}